.tractor-form-card {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
 
  .full-width {
    width: 100%;
  }
  
  .availability-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
  }
  
  /* Proper alignment for Image Upload */
  .image-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  
 /* Full-Width Button */
.full-width-btn {
    width: 100%;
  }
  
  /* Align submit button to center */
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
  